.center {
    margin: auto;
    width: 50%;
    border: 3px , soild red;
    padding: 10px;
}
.heading{
  background-image: url(../photos/giphy.gif);

}
.name{
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}
.lead{
  color: white;
  font-family: 'Cinzel Decorative', cursive;
}
.profile{
  border-radius: 50%;
}
